# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Outros arquivos temporários
.DS_Store
Thumbs.db

# Arquivos Javascript
*.js